#background {
    -fx-background-color: #ffffff;
}

.card {
    -fx-background-color: #ffffff;
}

.img {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.scroll-pane .viewport {
    -fx-background-color: #ffffff;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #ffffff;
    -fx-pref-width: 20px;
}

.tab-pane .tab-header-background  {
    -fx-background-color: #ffffff;
}
.tab {
    -fx-background-color: #ffffff; /* Set the background color of the tabs */
}
.orderButton{
    -fx-background-color: #001834;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

.ingredient{
    -fx-background-color: #d2d2d2;
    -fx-padding: 0px 5px 0px 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.tabBtn{
    -fx-background-color: #001736;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
}

